.pokemonDetails

    h2
        padding: 10px 0px
        margin: 0 0 20px 0

        color: #ffffff
        text-align: center

        background-color: #e3350d
    
    h2::first-letter 
        text-transform: capitalize

    .pokemonDetails_title
        position: relative

        img
            position: absolute
            top: 5px
            right: 5px


    .types
        display: flex
        justify-content: space-around

    .specs
        padding-bottom: 50px

        border-bottom: 5px solid #ffffff

        display: flex
        justify-content: space-around

    .abilities
        padding-top: 20px 

        display: flex
        justify-content: space-around