.pokemonCard 
    width: 180px
    margin: 12px

    color: #ffffff
    text-align: center
    text-decoration: none

    border: 3px solid #777777

    h3 
        padding: 10px 5px
        background-color: #777777